# --- 数据库与数据 ---
*.db-journal
data/database.db

# --- Python 缓存 ---
__pycache__/
migrations/
*.py[cod]
*$py.class

# --- IDE 与 系统文件 ---
.vscode/
.DS_Store
Thumbs.db

# --- 压缩包与证书 ---
*.rar
*.zip
*.7z
server.crt
server.key

# --- 敏感信息与临时文件 ---
.env
d5c7f0bcc5e6ef2aef14317ac3f05e3.txt
merged_project_code.txt

# --- 脚本文件 (如果你确认不需要追踪它) ---
merge_code.py
merged_backend_code.txt
merged_frontend_code.txt
cf-ddns-auto.bat
temp_res.txt
trace4.txt
.gitignore
private.key
fullchain.pem
trace6.txt
cf_res.txt
1190dd1671af1f9983b4d3be26ae10eb.txt
d5c7f0bcc5e6ef2aef14317ac3fe05e3.txt
cloudflared.exe
